<div class="inner bottom-border">
  <div class="container">
    <div class="row">
      <div class="span6">
        <ul class="nav nav-tabs">
          <li class="active">
            <%= user_nav_link(current_user, (params[:id] || params[:user_id])) %>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Photos</a></li>
          <li><%= link_to "Friends", user_friendships_path(@user) %></li>
          <li><a href="#">Favorites</a></li>
        </ul>
      </div>
      <div class="main-actions span3">
        <%= link_to "edit profile", edit_user_path(@user) if @user == current_user %>
        <%= link_to("Add Friend", friendships_path(friend_id: @user), method: :post) unless (@user == current_user or already_friends?(@user)) %>
        <a href="#"><i class="icon-search single"></i></a>
      </div>
    </div>
  </div>
</div>
