<section id="left_feed">
  <h4>Profile Name</h4>
  <section>
    <h5>Jump to a neighborhood...</h5>
    <% @user.neighborhoods.each do |neighborhood| %>
      <p><%= link_to neighborhood.name, neighborhood_path(neighborhood) %></p>
    <% end %>
  </section>
</section>
<section id="center_feed">
  <h4>My Neighborhood Friend Activity</h4>
  <hr />
</section>
<section id="right_feed">
  <h5>All Friends Activity</h5>
  <hr />
</section>
