<%= render "header" %>
<ul>
<% for friendship in @user.friendships %>
  <li>
    <%= friendship.friend.full_name %>
    <%= link_to "(unfriend)", friendship, method: :delete if @user == current_user %>
  </li>
<% end %>
</ul>
