<%= render "header" %>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <section class="share span9">
            <div class="inner-margin2">
              <div class="inner-padding8">
                <div id="share-controls">
                  <a href="#"><i class="icon-camera"></i></a><a href="#"><i class="icon-link"></i></a>
                </div>
                <input id="post_temp_field" name="post[content]" placeholder="Go ahead, share something!" size="30" type="text">
              </div>
            </div>
        </section>
        <section id="profile-sidebar" class="span3">
          <%= link_to(image_tag(@user.profile_picture(:small), class: "large-thumbnail"), @user) %>
        </section>
      </div>
    </div>
  </div>
</div>