<div class="neighborhood_thumbnail">
  <div class="photo_thumbnail"></div>
  <p><%= link_to neighborhood.name, "#{neighborhood.id}/preview", remote: true %></p>
  <p>People: </p>
  <p>Favorites: </p>
</div>
