<div class="neighborhood-thumbnail span4">
  <div class="inner-margin2">
    <a href="<%= "#{neighborhood.id}/preview" %>" data-remote="true">
      <%= image_tag neighborhood.photos.first.image.url(:medium) unless neighborhood.photos.empty? %>
      <div class="info">
        <span class="title"><%= neighborhood.name %></span>
        <p><i class="icon-user icon-white icon-large"></i> <%= neighborhood.users.count %> members</p>
      </div>
    </a>
  </div>
</div>
