<div class="neighborhood_thumbnail">
  <%= image_tag neighborhood.photos.first.image.url(:medium) unless neighborhood.photos.empty? %>
  <p><%= link_to neighborhood.name, "#{neighborhood.id}/preview", remote: true %></p>
  <p>People: <%= neighborhood.users.count %></p>
  <p>Favorites: <%= neighborhood.favorites.count %></p>
</div>
