
  <%= render @neighborhood %>

<div class="neighborhood-summary span8">
  <%= render "neighborhood_summary", :neighborhood => @neighborhood %>  
</div>
<br />
<%= link_to "Join Neighborhood", "/users/#{current_user.id}/add_neighborhood/#{@neighborhood.id}", :method => :post %>
