  <%= render @neighborhood %>
<section id="neighborhood_summary">
  <%= render "neighborhood_summary", :neighborhood => @neighborhood %>  
</section>
<br />
<%= link_to "Select as Primary Neighborhood", "/users/#{current_user.id}/add_neighborhood/#{@neighborhood.id}", :method => :post %>
