#main_container {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.success {
  color: green;
}

.notice {
  color: orange;
}

.error {
  color: red;
}

.mini-thumbnail {
  width: 30px;
  height: 30px;
}

.thumbnail {
  width: 47px;
  height: 47px;
}

.large-thumbnail {
  width: 60px;
  height: 60px; 
}

$orange: #ff7000;
$light_orange: #fe7e00;
$blue: $0e9fe2;
$light_blue: #1fb5e9;
$light_gray: #a9a9a9;
$dark_gray: #58595b;
$bg_gray: #f6f6f6;



@import 'bootstrap';
@import 'favorites';
@import 'feeds';
@import 'find_neighborhoods';
@import 'forms';
@import 'friendships';
@import 'headers';
@import 'home';
@import 'navigation';
@import 'neighborhoods';
@import 'ownerships';
@import 'photos';
@import 'places';
@import 'posts';
@import 'scaffolds';
@import 'signup_page';
@import 'users';
