#top-main{
  background:$bg_gray;
  color:white;
  .container{
    padding-bottom:0 !important;
  }
  h1{
    margin-top:0px;
    @include text-shadow;
  }
  p{
    font-size:1.2em;
    line-height:1.5em;
  }
  #welcome{
    @include blue-gradient;
    #welcome-right{
      margin-top:40px;
      select{
        width:100%;
      }
    }
  }
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid $blue;
  margin:auto;
  z-index:999;
  position: relative;
}

#neidhborhood-btns{
  margin-top:-10px;
  .filter-btn{
    @include orange-gradient;
    height:54px;
    text-align:center;
    width:461px;
    float:left;
  }
  input{
    margin:0;
  }
  #neighborhood-create{
    float:right;
    a{
      color:white;
      font-family:$open-sans;
      font-weight:700;
      font-size:32px;
      line-height:1em;
    }
  }
  .triangle-isosceles{
      position:relative;
      padding:3px;
      color:#000;
  }
  .triangle-isosceles.right:after {
      content:"";
      position:absolute;
      top: 0; /* value = - border-top-width - border-bottom-width */
      right: 0px; /* controls horizontal position */
      border-width: 0px 20px 15px 0; /* vary these values to change the angle of the vertex */
      border-style: solid;
      border-color: transparent $bg_gray;
      display:block;
  }
  .triangle-isosceles.left:after {
      content:"";
      position:absolute;
      top: 0; /* value = - border-top-width - border-bottom-width */
      left: 0px; /* controls horizontal position */
      border-width: 0px 0px 15px 20px; /* vary these values to change the angle of the vertex */
      border-style: solid;
      border-color: transparent $bg_gray;
      display:block;
  }
}
#neighborhoods{
  clear:both;
}

.neighborhood-thumbnail{
  background:white;
  margin-bottom:20px;
  border:1px solid $dark_gray;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 9px 0px #cccccc;
  -moz-box-shadow: 0px 0px 9px 0px #cccccc;
  box-shadow: 0px 0px 9px 0px #cccccc;
  .inner-margin2{
    background:$blue;
  }
  p{
    margin: 35px 0 0;
    padding:0;
  }
  a{
    color:white;
    width: 100%;
    display: block;
  }
  a:hover{
    color:white;
  }
  img{
    width: 87px;
    height: 87px;
    border-right: 2px solid white;
    display: inline-block;
  }
  .info{
    display:inline-block;
    padding: 5px;
    vertical-align: top;
    font-size:16px;
    color:white;
    .title{
      @include text-shadow;
      font-weight:700;
    }
  }
}
.neighborhood-thumbnail:hover{
  .inner-margin2{
    background:$light_blue;
  }
}

#neighborhood_summary {
  width: 50%;
  display: inline-block;
  margin: 10px;
  margin-left: 50px;
  padding: 10px;
  border: 2px solid black;
}
