#cover-fix{
  z-index:999;
  position: relative;
  border-top:2px solid white;
  background:white url(/assets/chat_box_bg.png) repeat-x top center;
  width:10px;
  height:69px;
  display:block;
  top: 72px;
  margin: -72px 0 0 255px;
}
.identity{
  height:73px;
  width: 255px;
  margin-left: 10px;
  @include double-border-shadow($lighter_gray);
  .inner-padding8{
    background:url(/assets/chat_box_bg.png) repeat-x top center;
  }
  div.profile-ident{
    span a{
      color:$orange;
      font-size:11px;
    }
  } 
}

.share{
  margin-top: -93px;
  @include double-border-shadow($lighter_gray);
  .inner-padding8{
    background:url(/assets/chat_box_bg.png) repeat-x top center;
  }
  #share-controls{
    padding:0 0 5px;
    i{
      color:$light_gray;
      font-size:1.8em;
    }
    a{
      margin:0 10px;
      &:hover i{
      color:$dark_gray;
      }
    }
  }
  input{
    height:50px !important;
    margin:0;
  }
}
h5{
    color:$light_gray;
    font-size:13px;
    border-bottom:1px solid $light_gray;
    padding:0 0 3px;
    font-weight: lighter;
    margin:0;
  }
#sidebar-left{
  margin-top:-20px;
  ul{
    margin: 0 0 1px;
    @include list-cleanup;
    li{
      border-bottom:1px solid $bg_gray;
      display:block;
      a{
        padding: 4px 2px;
        display:block;
        font-weight:bold;
        div{
          background: $orange;
          text-align: center;
          color:white;
          display:inline-block;
          margin:0 5px 0 0;
          width:23px;
          font-weight:lighter;
          font-size:11px;
          @include round-corners(2px);
        }
      }
    }
  }
}
#sidebar-right{
  h5{
    color:$dark_gray;
  }
  ul{
    padding:5px 0px;
    margin:0;
    @include list-cleanup;
    li{
      padding:5px 0;
      display:block;
    }
  }
  div.profile-ident{
    padding:0px;
    a.profile-name{
      display: inline-block;
      margin: 0;
      font-family: $railway;
      font-size:15px;
    }
    p{
      margin:0;
    }
  }
  .white-btn{
    display:inline-block;
    padding:5px 10px;
    float:right;
  }
}