.post {
  @include double-border-shadow($lighter_gray);
  /*-webkit-box-shadow: 0px 0px 7px 0px #dddddd;*/
  /*-moz-box-shadow: 0px 0px 0px 0px #dddddd;*/
  /*box-shadow: 0px 0px 0px 0px #dddddd;*/
  color:#111;
  .inner-padding8{
    background:url(/assets/chat_box_bg.png) repeat-x top center;
  }
  img {
    
  }  

  a {
    
  }

  .date {
    
  }
}
div.profile-ident{
  display: inline-block;
  vertical-align: top;
  padding:5px;
  a.profile-name{
    display: inline-block;
    margin: 0;
    font-family: $railway;
    font-size:18px;
  }
  p{
    font-size:11px;
    color:$lighter_gray;
    a{
      color:$light_blue;
    }
  }
}