#profile-sidebar{
  margin-top:-65px;
  a{
    @include double-border-shadow($dark_gray);
    display:block;
    @include round-corners(4px);
    img{
      @include round-corners(4px);
      margin:2px;
    }
  }
}
